.idea/
.vs/
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates
.DS_Store
Thumbs.db


bin/
obj/
TestResults/
appsettings.Development.json
*.log


__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env


target/
*.class


docker/repo.tar
docker/customfilters-1.0.jar
metarepo/repo.tar